<footer>
    <section class="back_footer">
        <article class="texto_footer">
            <h3>Contactanos:<img height="40px" src="/images/home/ico_maps.png" alt="Icono de Mapas"></h3> <br>
            <h4>Fábrica:</h4>
            <p>Roque Saenz Peña 765 - Ciudad - Mendoza<br>Tel.: +54 261 3463654</p>
            <h4>Guaymallén:</h4>
            <p>Gutierrez 2465 - Guaymallén - Mendoza<br>Tel.: +54 261  4677384</p>
            <h4>6 Sección:</h4>
            <p>Jorge A. Calle 123 - Ciudad - Mendoza<br>Tel.: +54 261 3333333</p><br>

            <h6>Copyright &copy; Seis Pimientas 2020</h6>
        </article>
    </section>
</footer>