<header>
    <section class="header">
        <img class="marcaSP" src="/images/marcaSP.png" alt="Marca Seis Pimientas">
        <nav class="barra_redes">
            <a href="https://www.instagram.com/seispimientas/?hl=es-la"><img class="instagram" src="/images/instagram.png" alt="Logo Instagram"></a>
            <a href="https://www.facebook.com/Seis-Pimientas-Casa-de-Pastas-115735999808276"><img class="facebook" src="/images/face.png" alt="Logo Facebook"></a>
            <a href=""><img class="whatsapp" src="/images/wsp.png" alt="Logo whatsapp"></a>
    </section>
    <div class="barra_menu">
        <div class="ul_header">
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productDetail1">Productos</a></li>
                    <!--<li><a href="#">Nosotros</a></li>-->
                    <li><a href="login">Iniciar Sesión</a></li>
                    <li><a href="/register">Registrarse</a></li>
                    <li><a href="/productCart">Bolsa de compras</a></li>
                    <li><a href="/add">Alta de Producto</a></li>
                </ul>
            </nav>
        </div>
       
    </div>
</header>