<header>
    <section class="header">
        <img class="marcaSP" src="/images/marcaSP.png" alt="Marca Seis Pimientas">
        
        <nav class="barra_redes">
            <a href="https://www.instagram.com/seispimientas/?hl=es-la"><img class="instagram" src="/images/instagram.png" alt="Logo Instagram"></a>
            <a href="https://www.facebook.com/Seis-Pimientas-Casa-de-Pastas-115735999808276"><img class="facebook" src="/images/face.png" alt="Logo Facebook"></a>
            <a href="https://wa.me/261XXXXXX"><img class="whatsapp" src="/images/wsp.png" alt="Logo whatsapp"></a>
        </nav>
    </section>
    <div class="barra_menu">
        <div >
            <nav class="ul_header">
                <ul>
                    <div>
                        
                        <% if (locals.user) {%>
                            <% if(locals.user.category != 'admin') { %> %>    
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/products">Productos</a></li>
                                <!--<li><a href="#">Nosotros</a></li>-->
                                <li><a href="/sales">Promociones</a></li>
                                <li><a href="/products/productCart">Bolsa de compras</a></li>
                                <li id="logout"><a href="/users/logout">Cerrar Sesión</a></li>
                            <% }%>    
                        <% } else { %>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/products">Productos</a></li>
                            <!--<li><a href="#">Nosotros</a></li>-->
                            <li><a href="/sales">Promociones</a></li>
                            <li><a href="/products/productCart">Bolsa de compras</a></li>
                            <li><a href="/users/register">Registrarse</a></li>
                            <li><a href="/users/login">Iniciar Sesión</a></li>
                        <% } %>
                        
                       
                    </div>
                    <div> 
                        <% if (locals.user && locals.user.category == 'admin') { %> 
                            <li><a href="/products/add">Alta<br>Producto</a></li>
                            <li><a href="/products">Editar y Borrar<br>Productos</a></li>

                            <li><a href="/sales/add">Alta<br>Promoción</a></li>
                            <li><a href="/sales">Editar y Borrar<br>Promoción</a></li>

                            <li><a href="/users/register">Alta<br>Usuarios</a></li>
                            <li><a href="/users/usersAdmin">Editar y Borrar<br>Usuarios</a></li>
                            <li><a href="/users/logout">Cerrar<br>Sesión</a></li>
                        <% } %> 
                    </div>
                </ul>
               
            </nav>
           
        </div>
        <div class="nameUser">
            <% if (locals.user) { %> 
                
                <label ><a href="/users/edit/<%= locals.user.id %>"><%= locals.user.full_name %></a></label>
                
            <%} %> 
        </div>
    </div>
</header>