<header>
    <section class="header">
        <img class="marcaSP_bolsa" src="/images/marcaSP.png" alt="Marca Seis Pimientas">
        <nav class="barra_redes">
            <img class="instagram_bolsa" src="/images/instagram.png" alt="Logo Instagram">
            <img class="facebook_bolsa" src="/images/face.png" alt="Logo Facebook">
            <img class="whatsapp_bolsa" src="/images/wsp.png" alt="Logo whatsapp">
    </section>
    <div class="barra_menu_ppal_bolsa">
        <div class="ul_bolsa">
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productDetail1">Productos</a></li>
                    <!--<li><a href="#">Nosotros</a></li>-->
                    <li><a href="login">Iniciar Sesión</a></li>
                    </li>
                    <li><a href="/register">Registrarse</a></li>
                    <li><a href="/productCart">Bolsa de compras</a></li>
                </ul>
            </nav>
        </div>
       
    </div>
</header>