<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/logo.png">
    <title>La pagina no existe..aun</title>
</head>
<body>
    <section class="header_bolsa">
        <img class="marcaSP_bolsa" src="/images/marcaSP.png" alt="Marca Seis Pimientas">
        <nav class="barra_redes">
            <img class="instagram_bolsa" src="/images/instagram.png" alt="Logo Instagram">
            <img class="facebook_bolsa" src="/images/face.png" alt="Logo Facebook">
            <img class="whatsapp_bolsa" src="/images/wsp.png" alt="Logo whatsapp">
    </section>
    <div class="barra_menu_ppal_bolsa">
        <div class="ul_bolsa">
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productDetail1">Productos</a></li>
                    <!--<li><a href="#">Nosotros</a></li>-->
                    <li><a href="login">Iniciar Sesión</a></li>
                    </li>
                    <li><a href="/register">Registrarse</a></li>
                    <li><a href="/productCart">Bolsa de compras</a></li>
                </ul>
            </nav>
        </div>
       
    </div>
    

    <main>
      
        <div>
            <!-- <a href="#menu"><img class="menu" src="/images/menu.svg" alt="menu"></a> -->

            <br>
            <div>
                <h1>
                  <a href="/"><img id="noExiste" src="/images/404gif.gif" alt="404"></a>
                </h1>
                <h2 align ="center">La pagina que intenta acceder no existe.... aun</h2>
            </div>    
        </div>
    </main><br>

    
    <footer>
        <section class="back_footer">
            <article class="texto_footer">
                <h3>Contactanos:<img height="40px" src="/images/ico_maps.png" alt="Icono de Mapas"></h3> <br>
                <h4>Fábrica:</h4>
                <p>Roque Saenz Peña 765 - Ciudad - Mendoza<br>Tel.: +54 261 3463654</p>
                <h4>Guaymallén:</h4>
                <p>Gutierrez 2465 - Guaymallén - Mendoza<br>Tel.: +54 261  4677384</p>
                <h4>6 Sección:</h4>
                <p>Jorge A. Calle 123 - Ciudad - Mendoza<br>Tel.: +54 261 3333333</p>
            </article>
        </section>
    </footer>
</body>
</html>