<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header');%> 
    <main class="mainCreate">
        <form class="cajaCreate" action="/" method="POST" enctype="multipart/form-data">
            <h3>
                Agregar un producto:
            </h3>
            <div class="containerCreate">
                <div>
                    <p>
                        <input class="ingresoCreate" type="text" name="name" id="producto" placeholder="Nombre del producto">
                    </p>
    
                    <p>
                        <textarea class="ingresoCreate" name="description" placeholder="Descripción"></textarea>
                    </p>
                    
                    <p>
                        <input class="ingresoCreate" type="text" name="presentation"  placeholder="Presentación del producto">
                    </p>
                    <p>
                        <input class="ingresoCreate" type="text" name="perforance"  placeholder="Rendimiento del producto">
                    </p>

                </div>
                <div class="variedades">
                    <label for="">Variedades:</label>
                    <input class="ingresoCreate" type="text" name="variedad1"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variedad2"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variedad3"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variedad4"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variedad5"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variedad6"  placeholder="Variedad del producto">
                </div>
               
                <p>
                    <input class="ingresoCreate fileCreate" type="file" id="imagen" name="imagen"></input>
                </p>
                <p>

                    <input class="ingresoCreate" type="number" name="price" id="precio" placeholder="Precio">
                </p>

                <!--<p class="captcha">
                    <img width="180px" src="/images/captcha.png" alt="imagen de captcha">
                
                </p> -->

                <p>
                    <button type="submit" class="ingresoCreate" id="botonIngreso">Enviar</button> 
                    <button type="reset" class="ingresoCreate" id="botonReseteo">Borrar</button>
                </p>

            </div>

        </form>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>