<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header');%> 
    <main class="mainCreate">
        <form class="cajaCreate" action="/products" method="POST" enctype="multipart/form-data">
            <h3>
                Agregar un producto:
            </h3>
            <div class="containerCreate">
                <div>
                    <p>
                        <br>
                        <label>Nombre del producto</label>
                        <input class="ingresoCreate" type="text" name="name" id="producto" placeholder="Nombre del producto">
                    </p>
    
                    <p>
                        <label>Descripci贸n</label>
                        <textarea class="ingresoCreate" name="description" placeholder="Descripci贸n"></textarea>
                    </p>
                    
                    <p>
                        <label>Presentaci贸n</label>
                        <input class="ingresoCreate" type="text" name="presentation"  placeholder="Presentaci贸n del producto">
                    </p>
                    <p>
                        <label>Rendimiento</label>
                        <input class="ingresoCreate" type="text" name="performance"  placeholder="Rendimiento del producto">
                    </p>

                </div>
                <div class="variedades">
                    <label>Variedades:</label>
                    <input class="ingresoCreate" type="text" name="variety"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variety"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variety"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variety"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variety"  placeholder="Variedad del producto">
                    <input class="ingresoCreate" type="text" name="variety"  placeholder="Variedad del producto">
                </div>
               
                <p>
                    <br>
                    <label>Agregar una imagen</label>
                    <input class="ingresoCreate fileCreate" type="file" name="imagen"></input>
                </p>
                <p>
                    <label>Precio</label>
                    <input class="ingresoCreate" type="number" name="price" id="precio" placeholder="Precio">
                </p>

                <p>
                    <button type="submit" class="ingresoCreate" id="botonIngreso">Crear</button> 
                    <button type="reset" class="ingresoCreate" id="botonReseteo">Borrar Campos</button>
                </p>

            </div>

        </form>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>