<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/logo.png">
    <title>Bolsa de Compras</title>
</head>
<body>
    <div class="header">
        <!--<img class="header" src="/images/bolsa/fondo_header.jpg" alt="Fondo Header">
        <img class="marcaSP" src="/images/bolsa/marcaSP.png" alt="Marca Seis Pimientas">
        -->
    </div>
    <div class="marcaSP">

    </div>
    <nav class="barra_menu_ppal">
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Iniciar Sesión</a></li></li>
        </ul>
    </nav>

    <div class="" >

        <p class="separador">
        </p>
    
        <p></p>

        </p>
    </div>
      <footer>
        <h3>Contactanos:<img height="40px" class="icofooter" src="/images/ico_maps.png" alt="Icono de Mapas"></h3>
        <h5 class="icofooter"></h5>
        <h4>Fábrica:</h4>
        <p>Roque Saenz Peña 765 - Ciudad - Mendoza</p>
        <p>Tel.: +54 261 3463654</p><br>
        <h4>Guaymallén:</h4>
        <p>Gutierrez 2465 - Guaymallén - Mendoza</p>
        <p>Tel.: +54 261  4677384</p><br>
        <h4>6 Sección:</h4>
        <p>Jorge A. Calle 123 - Ciudad - Mendoza</p>
        <p>Tel.: +54 261 3333333</p>

    </footer>
</body>
</html>