<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header');%> 
    <main class="mainCreate">
        <!-- aca seria no a products sino a sales supongo no? -->
        <form class="cajaCreate" action="/sales?_method=DELETE" method="POST" enctype="multipart/form-data">
            <h3>
                Borrar una Promoción:
            </h3>
            <div class="containerCreate">
                <div>
                    <p>
                        <input class="ingresoCreate" type="text" name="name" id="producto" placeholder="Nombre del producto">
                    </p>
                </div>
               
                <p> 
                    <button type="submit" class="ingresoCreate" id="botonReseteo">Borrar</button>
                </p>

            </div>

        </form>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>