<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header');%> 
    <main class="mainCreate">
        <form class="cajaCreate" action="/products" method="POST" enctype="multipart/form-data">
            <h3>
                Borrar un Usuario:
            </h3>
            <div class="containerCreate">
                <div>
                    <p>
                        <input class="ingresoCreate" type="text" name="user" id="usuario" placeholder="Nombre del Usuario">
                    </p>
                </div>
                
                <p>
                    <button type="reset" class="ingresoCreate" id="botonReseteo">Borrar</button>
                </p>

            </div>

        </form>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>