<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header');%> 
    <main>
                                       <!-- no se si ese action es correcto -->
        <form class="cajaLogin" action="/products/edit?_method=PUT" method="POST">
            <h3>
                Editar un producto:
            </h3>
            <p>

                <input class="ingreso" type="text" name="producto" id="name" placeholder="Nombre del producto">
                
                <textarea id="description" class="ingreso" placeholder="Descripción"></textarea>
                
                <input class="ingreso" type="text" name="variedad" id="variety" placeholder="Variedad del producto">
                
                <input class="ingreso" type="text" name="presentacion" id="presentation" placeholder="Presentación">  
                
                <input class="ingreso" type="text" name="performance" id="performance" placeholder="Performance">

                <input class="ingreso" type="text" name="precio" id="price" placeholder="Precio">

                <p>
                    <input class="ingreso" type="file" id="imagen" name="imagen"></input>
                </p>

                <div class="captcha">
                    <img width="180px" src="/images/captcha.png" alt="imagen de captcha">
                </div>

                <p>
                    <button type="submit" class="ingreso" id="botonIngreso">Enviar</button> 
                    <button type="reset" class="ingreso" id="botonReseteo">Borrar</button>
                </p>
            </p>
        </form>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>