<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header');%> 
    <main class="mainCreate">
        
        <form class="cajaCreate" action="/sales/edit?_method=PUT" method="POST" enctype="multipart/form-data">
            <h3>
                Editar una Promoción:
            </h3>
            <div class="containerCreate">
                <div>
                    <p>
                        <input class="ingresoCreate" type="text" name="name" id="producto" placeholder="Nombre del producto">
                    </p>
    
                    <p>
                        <textarea class="ingresoCreate" name="discount" placeholder="Descuento"></textarea>
                    </p>
                </div>
               
                <p>
                    <input class="ingresoCreate fileCreate" type="file" name="imagen"></input>
                </p>
                <p>
                    <input class="ingresoCreate" type="number" name="price" id="precio" placeholder="Precio">
                </p>

                <p>
                    <button type="submit" class="ingresoCreate" id="botonIngreso">Editar</button> 
                    <button type="reset" class="ingresoCreate" id="botonReseteo">Borrar</button>
                </p>

            </div>

        </form>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>