<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header');%> 
    <main>
        
    </main><br>
    <%- include('./partials/footer') %> 
</body>
</html>