<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
<%- include('./partials/header');%> 
    <main>
        <div class="banner">   
            <p>
                NUESTRAS<br>
                PROMOCIONES
            </p>
        </div>
        <h1 class="tituloPromo" align= "center">MARTES Y JUEVES!</h1>
        <div class="caja">
            <img class="fotosPedido" src="/images/caseritos.jpg" alt="Caseritos">
            <h4 class="titulos">Caseritos</h4>
            <p>
                <label class="promo20" for="">20 % OFF EN LA SEGUNDA UNIDAD!</label><br>
                <label for="">Precio:$595,00</label><br>
                <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
            </p>
        </div>

        <div class="caja">
            <img class="fotosPedido" src="/images/ravioles.jpg" alt="Ravioles">
            <h4 class="titulos">Ravioles</h4>
            <p>
                <label class="promo20" for="">20 % OFF EN LA SEGUNDA UNIDAD!</label><br>
                <label for="">Precio:$445,00</label><br>
                <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
            </p>
        </div>
    </main>
    <br>
    <%- include('./partials/footer') %> 
</body>
</html>