<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
<%- include('./partials/header');%> 
    <main>
        <div class="banner">   
            <p>
                NUESTRAS<br>
                PROMOCIONES
            </p>
        </div>
        <h1 class="tituloPromo">MARTES Y JUEVES!</h1>
        <section class="cuerpoPromos">
            <div class="caja">
                <img class="fotosPedido" src="/images/caseritos.jpg" alt="Caseritos">
                <h4 class="titulos">Caseritos</h4>
                <p>
                    <label class="promo20" for="">20 % OFF<br>EN LA SEGUNDA UNIDAD!</label><br>
                    <label class="precioPromo" for="">Precio:$595,00</label><br>
                    <button class="botonAgregarPedido">Agregar Pedido!</button>
                </p>
            </div>
    
            <div class="caja">
                <img class="fotosPedido" src="/images/ravioles.jpg" alt="Ravioles">
                <h4 class="titulos">Ravioles</h4>
                <p>
                    <label class="promo20" for="">20 % OFF<br>EN LA SEGUNDA UNIDAD!</label><br>
                    <label class="precioPromo" for="">Precio:$445,00</label><br>
                    <button class="botonAgregarPedido">Agregar Pedido!</button>
                </p>
            </div>
        </section>
    </main>
    <br>
    <%- include('./partials/footer') %> 
</body>
</html>