<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/logo.png">
    <title>Login</title>
</head>
<body class="loginBody">
    <header>
        <div class="encabezado">
            <img class="marcaSP" src="/images/marcaSP.png" alt="">
            <img class="instagram" src="/images/instagram.png"alt="">
            <img class="facebook" src="/images/face.png" alt="">
            <img class="whatsapp" src="/images/wsp.png" alt="">
            <img class= "bolsa" src="/images/bolsa.png" alt="">
        </div>


    </header>
    

    <main>
        
        <div>
            <nav class="barra_menu_ppal">
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Productos</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Contacto</a></li>
              <li><a href="#">Iniciar Sesión</a></li></li>
            </ul>
            </nav>

        </div>
        
       
        <div class="cajaLogin">
            <h1>Inicio de Sesión</h1>
            <form action="" method="POST">
                <label for="">Email: </label>
                <input type="email" id="email" name="email"><br>
                <label for="">Contraseña: </label>
                <input type="password" id="password" name="password"><br>
                <button type="button" id="botonInicio" placeholder= "Iniciar">Iniciar</button><br>
                <button type="button" id="botonRegistro" placeholder="Registrarme">Registrarme</button>
                
            </form>
           


        </div>

        
        
   
        
    </main>

    
    <footer>
        <h3>Contactanos:<img height="80px" class="icofooter" src="/images/ico_maps.png" alt="Icono de Mapas"></h3>
        <h5 class="icofooter"></h5>
        <h4>Fábrica:</h4>
        <p>Roque Saenz Peña 765 - Ciudad - Mendoza</p>
        <p>Tel.: +54 261 3463654</p><br>
        <h4>Guaymallén:</h4>
        <p>Gutierrez 2465 - Guaymallén - Mendoza</p>
        <p>Tel.: +54 261  4677384</p><br>
        <h4>6 Sección:</h4>
        <p>Jorge A. Calle 123 - Ciudad - Mendoza</p>
        <p>Tel.: +54 261 3333333</p>

    </footer>
</body>
</html>