
<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
<!-- MENU HAMBURGESA -->
    <div class="caja">
        <label for="">Filtrar por precio</label><br>
    <p></p>
        <input class="barraFiltro" type="range" value="FILTER" /><br>
    </p>
        <!-- <label for="">aca va la barra</label><br> -->
        <label for="">Nuestras Pastas</label>
        <ul>
            <li>Pastas Rellenas</li>
            <li>Sorrentinos</li>
            <li>Caseritos</li>
            <li>Ravioles</li><br>
            <li>Fideos</li>
            <li>Ñoquis</li>
            <li>Salsas</li>
        </ul><br><br>
        <label for="">Nuestra Cocina</label>
        <ul>
            <li>Empanadas</li>
            <li>Lasagna</li>
            <li>Canelones</li>
        </ul><br><br>
        <label for="">Productos Adicionales</label>
        <ul>
            <li>Queso</li>
            <li>Bebidas</li>
            <li>Delicatesen</li>
            <li>Vino</li>
            <li>Aceite de Oliva</li>
        </ul>
    </div>
    <%- include('./partials/footer') %> 
</body>
</html>