<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- PONER SI SE USAN ICONOS EN LA PAGINA -->
    
    <title>Nuestros Productos - Pagina 1</title>
</head>
<body>
    <header>
        <section class="header_bolsa">
            <img class="marcaSP_bolsa" src="/images/marcaSP.png" alt="Marca Seis Pimientas">
            
            <div class="encabezado">
                <img class="instagram" src="/images/instagram.png"alt="">
                <img class="facebook" src="/images/face.png" alt="">
                <img class="whatsapp" src="/images/wsp.png" alt="">
                <img class= "bolsa" src="/images/bolsa.png" alt="">
            </div>
           
        </section>  
    </header>


    <main>
        <div class="banner">   
            <p >
                NUESTRAS <br>
                PASTAS
            </p>
        </div>

        <div class="barra_menu_ppal_bolsa">
            <nav>
                <ul>
                  <li><a href="/">Inicio</a></li>
                  <li><a href="/productDetail1">Productos</a></li>
                  <!-- <li><a href="#">Nosotros</a></li>
                  <li><a href="#">Contacto</a></li> -->
                  <!-- <li><a href="/promociones">Promociones</a></li> -->
                  <li><a href="login">Iniciar Sesión</a></li>
                  <li><a href="/register">Registrarse</a></li>
                </ul>
            </nav>
        </div>

        <!-- <div>
            <a href="#menu"><img class="menu" src="/images/menu.svg" alt="menu"></a>
        </div> -->
        
        <div class="caja">
            <img class="fotosPedido" src="/images/sorrentinos.jpg" alt="Sorrentinos">
            <h4 class="titulos">Sorrentinos</h4>
            <p>
                <label for="">Descripción:</label><br>
                <label for="">Pasta rellena de forma circular.</label><br>
                <label for="">Rellenos disponibles:</label>
                <ul>
                    <li>Jamón y Muzarella</li>
                    <li>Calabaza y Muzarella</li>
                    <li>Quatro Quesos</li>
                </ul>
                <label for="">Presentación:</label><br>
                <label for="">14 unidades</label><br>
                <label for="">(rinde para 2 personas)</label><br><br>
                <label for="">Precio:$350,00</label><br><br>
                <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
            </p>
        </div>

        <div class="caja">
            <img class="fotosPedido" src="/images/caseritos.jpg" alt="Caseritos">
            <h4 class="titulos">Caseritos</h4>
            <p>
                <label for="">Descripción:</label><br>
                <label for="">Pasta rellena de forma rectangular.</label><br>
                <label for="">Rellenos disponibles:</label>
                <ul>
                    <li>Carne Braseada</li>
                    <li>Verdura</li>
                </ul>
                <label for="">Presentación:</label><br>
                <label for="">3 planchas</label><br>
                <label for="">(rinde para 2 personas)</label><br><br>
                <label for="">Precio:$330,00</label><br><br>
                <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
            </p>
        </div>

        <div class="caja">
            <img class="fotosPedido" src="/images/ravioles.jpg" alt="Ravioles">
            <h4 class="titulos">Ravioles</h4>
            <p>
                <label for="">Descripción:</label><br>
                <label for="">Pasta rellena de forma cuadrada.</label><br>
                <label for="">Rellenos disponibles:</label>
                <ul>
                    <li>Pollo Braseado</li>
                    <li>Cerdo Braseado</li>
                    <li>Ricota y nuez</li>
                </ul>
                <label for="">Presentación:</label><br>
                <label for="">3 planchas</label><br>
                <label for="">(rinde para 2 personas)</label><br><br>
                <label for="">Precio:$260,00</label><br><br>
                <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
            </p>
        </div>
        

        <button type="button"><a class="boton" href="/productDetail2">Pagina 2</a></button>
    </main>


    <footer>
        <section class="back_footer">
            <article class="texto_footer">
                <h3>Contactanos:<img height="40px" src="/images/ico_maps.png" alt="Icono de Mapas"></h3> <br>
                <h4>Fábrica:</h4>
                <p>Roque Saenz Peña 765 - Ciudad - Mendoza<br>Tel.: +54 261 3463654</p>
                <h4>Guaymallén:</h4>
                <p>Gutierrez 2465 - Guaymallén - Mendoza<br>Tel.: +54 261  4677384</p>
                <h4>6 Sección:</h4>
                <p>Jorge A. Calle 123 - Ciudad - Mendoza<br>Tel.: +54 261 3333333</p>
            </article>
        </section>
    </footer>
</body>
</html>