<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- PONER SI SE USAN ICONOS EN LA PAGINA -->
    
    <title>Nuestros Productos - Pagina 2</title>
</head>
<body>
    <header>
        <div class="encabezado">
            <img class="marcaSP" src="/images/marcaSP.png" alt="">
            <img class="instagram" src="/images/instagram.png"alt="">
            <img class="facebook" src="/images/face.png" alt="">
            <img class="whatsapp" src="/images/wsp.png" alt="">
            <img class= "bolsa" src="/images/bolsa.png" alt="">
        </div>
    </header>


    <main>
        <div class="banner">   
            <p>
                NUESTRAS <br>
                PASTAS
            </p>
        </div>

        <div>
            <a href="#menu"><img class="menu" src="/images/menu.svg" alt="menu"></a>
        </div>

        <div class="caja">
            <img class="fotosPedido" src="/images/fideos.jpg" alt="Fideos">
            <h4 class="titulos">Fideos</h4>
            <p>
                <label for="">Descripción:</label><br>
                <label for="">Realizados con huevo.</label><br>
                <label for="">Formatos disponibles:</label>
                <ul>
                    <li>Spaguetti</li>
                    <li>Tallarin</li>
                    <li>Pappardelle</li>
                </ul>
                <label for="">Presentación:</label><br>
                <label for="">Bolsas de 500 grs.</label><br>
                <label for="">(rinde para 2 personas)</label><br><br>
                <label for="">Precio:$160,00</label><br><br>
                <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
            </p>
        </div>

        <div class="caja">
            <img class="fotosPedido" src="/images/noquis.jpg" alt="Ñoqis">
            <h4 class="titulos">Ñoquis</h4>
            <p>
                <label for="">Descripción:</label><br>
                <label for="">Realizados con papa de manera artesanal.</label><br>
                <label for="">Presentación:</label><br><br>
                <label for="">Bandejas de 500grs.</label><br>
                <label for="">(rinde para 2 personas)</label><br><br>
                <label for="">Precio:$190,00</label><br><br>
                <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
            </p>
        </div>

        <div class="caja">
            <img class="fotosPedido" src="/images/salsas.jpg" alt="Salsas">
            <h4 class="titulos">Salsas</h4>
            <p>
                <label for="">Descripción:</label><br>
                <label for="">Salsas listas para acompañar nuestras pastas.</label><br>
                <label for="">Formatos disponibles:</label>
                <ul>
                    <li>Bolognesa</li>
                    <li>Fileto</li>
                    <li>Blanca</li>
                </ul>
                <label for="">Presentación:</label><br>
                <label for="">Pote de 250 grs.</label><br><br>
                <label for="">Precio:$160,00</label><br><br>
                <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
            </p>
        </div>


        <button type="button"><a class="boton" href="/productos">Pagina 1</a></button>
    </main>


    <footer>
        <section class="back_footer">
            <article class="texto_footer">
                <h3>Contactanos:<img height="40px" src="/images/ico_maps.png" alt="Icono de Mapas"></h3> <br>
                <h4>Fábrica:</h4>
                <p>Roque Saenz Peña 765 - Ciudad - Mendoza<br>Tel.: +54 261 3463654</p>
                <h4>Guaymallén:</h4>
                <p>Gutierrez 2465 - Guaymallén - Mendoza<br>Tel.: +54 261  4677384</p>
                <h4>6 Sección:</h4>
                <p>Jorge A. Calle 123 - Ciudad - Mendoza<br>Tel.: +54 261 3333333</p>
            </article>
        </section>
    </footer>
</body>
</html>


