<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header');%> 
    <main>
        <div class="banner">   
            <p >
                NUESTRAS <br>
                PASTAS
            </p>
        </div>

        <div class="cajaflex">
            <div class="caja">
                <img class="fotosPedido" src="/images/sorrentinos.jpg" alt="Sorrentinos">
                <h4 class="titulos">Sorrentinos</h4>
                <p>
                    <label for="">Descripción:</label><br>
                    <label for="">Pasta rellena de forma circular.</label><br>
                    <label for="">Rellenos disponibles:</label>
                    <ul>
                        <li>Jamón y Muzarella</li>
                        <li>Calabaza y Muzarella</li>
                        <li>Quatro Quesos</li>
                    </ul>
                    <label for="">Presentación:</label><br>
                    <label for="">14 unidades</label><br>
                    <label for="">(rinde para 2 personas)</label><br><br>
                    <label for="">Precio:$350,00</label><br><br>
                    <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
                </p>
            </div>
        </div>

        <div class="cajaflex">
            <div class="caja">
                <img class="fotosPedido" src="/images/caseritos.jpg" alt="Caseritos">
                <h4 class="titulos">Caseritos</h4>
                <p>
                    <label for="">Descripción:</label><br>
                    <label for="">Pasta rellena de forma rectangular.</label><br><br>
                    <label for="">Rellenos disponibles:</label>
                    <ul>
                        <li>Carne Braseada</li>
                        <li>Verdura</li>
                    </ul>
                    <label for="">Presentación:</label><br>
                    <label for="">3 planchas</label><br>
                    <label for="">(rinde para 2 personas)</label><br><br>
                    <label for="">Precio:$330,00</label><br><br>
                    <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
                </p>
            </div>
        </div>

        <div class="cajaflex">
            <div class="caja">
                <img class="fotosPedido" src="/images/ravioles.jpg" alt="Ravioles">
                <h4 class="titulos">Ravioles</h4>
                <p>
                    <label for="">Descripción:</label><br>
                    <label for="">Pasta rellena de forma cuadrada.</label><br>
                    <label for="">Rellenos disponibles:</label>
                    <ul>
                        <li>Pollo Braseado</li>
                        <li>Cerdo Braseado</li>
                        <li>Ricota y nuez</li>
                    </ul>
                    <label for="">Presentación:</label><br>
                    <label for="">3 planchas</label><br>
                    <label for="">(rinde para 2 personas)</label><br><br>
                    <label for="">Precio:$260,00</label><br><br>
                    <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
                </p>
            </div>
        </div>





        <div class="cajaOculta" class="cajaflex">
            <div class="caja">
                <img class="fotosPedido" src="/images/fideos.jpg" alt="Fideos">
                <h4 class="titulos">Fideos</h4>
                <p>
                    <label for="">Descripción:</label><br>
                    <label for="">Realizados con huevo.</label><br>
                    <label for="">Formatos disponibles:</label>
                    <ul>
                        <li>Spaguetti</li>
                        <li>Tallarin</li>
                        <li>Pappardelle</li>
                    </ul>
                    <label for="">Presentación:</label><br>
                    <label for="">Bolsas de 500 grs.</label><br>
                    <label for="">(rinde para 2 personas)</label><br><br>
                    <label for="">Precio:$160,00</label><br><br>
                    <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
                </p>
            </div>
        </div>

        <div class="cajaOculta" class="cajaflex">
            <div class="caja">
                <img class="fotosPedido" src="/images/noquis.jpg" alt="Ñoqis">
                <h4 class="titulos">Ñoquis</h4>
                <p>
                    <label for="">Descripción:</label><br>
                    <label for="">Realizados con papa de manera artesanal.</label><br><br><br>
                    <label for="">Presentación:</label><br><br>
                    <label for="">Bandejas de 500grs.</label><br>
                    <label for="">(rinde para 2 personas)</label><br><br><br>
                    <label for="">Precio:$190,00</label><br><br><br>
                    <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
                </p>
            </div>
        </div>

        <div class="cajaOculta" class="cajaflex">
            <div class="caja">
                <img class="fotosPedido" src="/images/salsas.jpg" alt="Salsas">
                <h4 class="titulos">Salsas</h4>
                <p>
                    <label for="">Descripción:</label><br>
                    <label for="">Salsas listas para acompañar nuestras pastas.</label><br><br>
                    <label for="">Formatos disponibles:</label>
                    <ul>
                        <li>Bolognesa</li>
                        <li>Fileto</li>
                        <li>Blanca</li>
                    </ul>
                    <label for="">Presentación:</label><br>
                    <label for="">Pote de 250 grs.</label><br><br>
                    <label for="">Precio:$160,00</label><br><br>
                    <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
                </p>
            </div>
        </div>    








        
        <div class="botoz">
            <button type="button"><a class="boton" href="/productDetail2">Pagina 2</a></button>
        </div>
        
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>