<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/logo.png">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="encabezado">
            <img class="marcaSP" src="/images/marcaSP.png" alt="">
            <img class="instagram" src="/images/instagram.png"alt="">
            <img class="facebook" src="/images/face.png" alt="">
            <img class="whatsapp" src="/images/wsp.png" alt="">
            <img class= "bolsa" src="/images/bolsa.png" alt="">
        </div>


    </header>
    

    <main>

        <div class="banner">   
            <p>
                NUESTRAS<br>
                PROMOCIONES
            </p>
        </div>
        
        <div>
            <a href="#menu"><img class="menu" src="/images/menu.svg" alt="menu"></a>
        </div>

        <h1 class="tituloPromo" align= "center">MARTES Y JUEVES!</h1>

        <div class="caja">
            <img class="fotosPedido" src="/images/caseritos.jpg" alt="Caseritos">
            <h4 class="titulos">Caseritos</h4>
            <p>
                <label class="promo20" for="">20 % OFF EN LA SEGUNDA UNIDAD!</label><br>
                <label for="">Precio:$595,00</label><br><br>
                <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
            </p>
        </div>

        <div class="caja">
            <img class="fotosPedido" src="/images/ravioles.jpg" alt="Ravioles">
            <h4 class="titulos">Ravioles</h4>
            <p>
                <label class="promo20" for="">20 % OFF EN LA SEGUNDA UNIDAD!</label><br>
                <label for="">Precio:$445,00</label><br><br>
                <img class="agregarPedido" src="/images/agregarPedido.png" alt="Agregar a Pedido">
            </p>
        </div>
        

        
    </main>
        
    </main><br>

    
    <footer>
        <h3>Contactanos:<img height="80px" class="icofooter" src="/images/ico_maps.png" alt="Icono de Mapas"></h3>
        <h5 class="icofooter"></h5>
        <h4>Fábrica:</h4>
        <p>Roque Saenz Peña 765 - Ciudad - Mendoza</p>
        <p>Tel.: +54 261 3463654</p><br>
        <h4>Guaymallén:</h4>
        <p>Gutierrez 2465 - Guaymallén - Mendoza</p>
        <p>Tel.: +54 261  4677384</p><br>
        <h4>6 Sección:</h4>
        <p>Jorge A. Calle 123 - Ciudad - Mendoza</p>
        <p>Tel.: +54 261 3333333</p>

    </footer>
</body>
</html>