<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/logo.png">
    <title>Registrase en SeisPimientas</title>
</head>
<body>
    <section class="header_bolsa">
        <img class="marcaSP_bolsa" src="/images/marcaSP.png" alt="Marca Seis Pimientas">
        <nav class="barra_redes">
            <img class="instagram_bolsa" src="/images/instagram.png" alt="Logo Instagram">
            <img class="facebook_bolsa" src="/images/face.png" alt="Logo Facebook">
            <img class="whatsapp_bolsa" src="/images/wsp.png" alt="Logo whatsapp">
    </section>
    <div class="barra_menu_ppal_bolsa">
        <div class="ul_bolsa">
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productDetail1">Productos</a></li>
                    <!--<li><a href="#">Nosotros</a></li>-->
                    <li><a href="login">Iniciar Sesión</a></li>
                    </li>
                    <li><a href="/register">Resgistrarse</a></li>
                    <li><a href="/productCart">Bolsa de compras</a></li>
                </ul>
            </nav>
        </div>
       
    </div>
    

    <main>
        <!-- <div class="banner">   
            <p>
                NUESTRAS<br>
                PASTAS
            </p>
        </div> -->

     

        <!-- <div>
            <a href="#menu"><img class="menu" src="/images/menu.svg" alt="menu"></a>
        </div> -->

        <form class="cajaLogin" action="/" method="POST">
            <h3>
                Registro de Usuario:
            </h3>

            <p>
                <input class="ingreso" type="text" name="fullName" id="fullName" placeholder="Nombre y Apellido">

                <input class="ingreso" type="email" name="email" id="email" placeholder="E-mail">

                <input class="ingreso" type="confirEmail" name="confirEmail" id="confirmEmail" placeholder="Confirmar E-mail">

                <input class="ingreso" type="password" name="password" id="password" placeholder="Contraseña">
                
                <input class="ingreso" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Contraseña">

                <input class="ingreso" type="calle" name="calle" id="calle" placeholder="Calle">

                <input class="ingreso" type="numero" name="numero" id="numero" placeholder="Número">

                <input class="ingreso" type="piso" name="piso" id="piso" placeholder="Piso">

                <input class="ingreso" type="departamento" name="departamento" id="departamento" placeholder="Departamento">

                <input class="ingreso" type="localidad" name="localidad" id="localidad" placeholder="Localidad">

                <p>COLOCAR CAPTCHA AQUÍ</p>

                <p>
                    <button type="submit" class="ingreso" id="botonIngreso">Enviar</button> 
                    <button type="reset" class="ingreso" id="botonReseteo">Borrar</button>
                </p>
            </p>
        </form>
    </main>

    
    <footer>
        <section class="back_footer">
            <article class="texto_footer">
                <h3>Contactanos:<img height="40px" src="/images/ico_maps.png" alt="Icono de Mapas"></h3> <br>
                <h4>Fábrica:</h4>
                <p>Roque Saenz Peña 765 - Ciudad - Mendoza<br>Tel.: +54 261 3463654</p>
                <h4>Guaymallén:</h4>
                <p>Gutierrez 2465 - Guaymallén - Mendoza<br>Tel.: +54 261  4677384</p>
                <h4>6 Sección:</h4>
                <p>Jorge A. Calle 123 - Ciudad - Mendoza<br>Tel.: +54 261 3333333</p>
            </article>
        </section>
    </footer>
</body>
</html>