* {box-sizing: border-box;}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF5CE;
    margin: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    background-image: url("/images/fondo_header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 28vh;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.loginBody {background-color: white;}

#noExiste {
    height: 280px;
    position: relative;
    left: 25%;
    margin-left: -55px;
} 

/* HEADER */

.encabezado {
    padding: 5px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    position: relative;
}

.inicio { /* no sé si está en uso VERIFICAR*/
    position: absolute;
    top: 210px;
    z-index: 0;
}

/* .marcaSP {
    position: relative;
    top: 24px;
    left: 15px;
    width: 315px;
    margin-bottom: 25px;
} */

/* .instagram {
    position: relative;
    top: 3px;
    left: 10px;
    width: 3vw;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 5px
}

.facebook {
    position: relative;
    top: 3px;
    left: 10px;
    width: 47px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 5px
}

.whatsapp {
    position: relative;
    top: 3px;
    left: 10px;
    width: 3vw;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 5px
}

.bolsa {
    position: relative;
    top: 3px;
    left: 10px;
    width: 3vw;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 5px
} */

/* MAIN */


.menu {
   position: absolute;
   height: 20px;
   background-color: blanchedalmond ;
   color: white;
}

.banner {
    background-image: url("/images/img_ppal.jpg");
    background-repeat: no-repeat;
    overflow: auto;

    background-size: 100%;
    width: 100%;
}

.banner p {
    color: white;
    text-align: right;
    font-size: larger;
    padding-right: 10%;
    position: relative;
    flex-direction: column;
}

main {background-color: blanchedalmond;}

ul {
    list-style-type: none;
    padding: 5px 5px;
    text-align: center;
}
.barra_menu_ppal {
    background-image: url("/images/barra_central.png");
    background-size: 99% 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position-x: 5px;
    float: left;
    z-index: 3;
    position: relative;
    top: -10vh;
 }

.boton {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

.botoz {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.caja {
    box-sizing: border-box;
    width: 70%;
    border: 1px hidden currentColor;
    padding: 20px 0px 10px 0px;
    margin: 60px;
    text-align: center;
    background-color: rgb(253, 227, 179);
    color: rgb(163, 31, 53);
    font-size: 20px;
    position: relative;
    left: 25%;
    margin-left: -30px;
}

/* cree la caja login en con la misma base de las otras cajas, veo que más le modifico para que me quede bien */
.cajaLogin {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    border: 1px hidden currentColor;
    padding: 20px 0px 10px 0px;
    margin: 60px;
    text-align: center;
    background-color: rgb(253, 227, 179);
    color: rgb(163, 31, 53);
    font-size: 20px;
    position: relative;
    margin-left: -30px;
    border-style: solid;
}


#email {
    block-size: 1cm;
    align-self: flex-end;
}

#password {
    block-size: 1cm;
    margin-block-end: auto
}

.Login {text-align: left;}

.fotosPedido {
    background-size: contain;
    position: relative;
    background-position: center;
    height: 30%;
    width: 80%;
}

.agregarPedido {
    background-size: contain;
    position: relative;
    background-position: center;
    height: 20%;
    width: 60%;
}

.titulos {
    background-color: blanchedalmond;
    max-width: 100%;
    font-size: xx-large;
}

.tituloPromo {
    background-color: blanchedalmond;
    max-width: 100%;
    /* font-size: ; */
    color: rgb(163, 31, 53);
    font-family: paris; 
    font-weight: bold;
}

.promo20 {
    font-family: sans-serif;
    color: rgb(163, 31, 53);
    font-weight: bold;
    font-size: 26px
}


/* FOOTER */



/* ESTILOS PARA BOLSA DE COMPRAS --------------------------------------------------*/


/* HEADER BOLSA--------------------------------------------------------------*/


.marcaSP {
    position: relative;
    width: 85vw;
    max-width: 90%;
    top: 1rem;
    
}

.barra_redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2rem;
    width: 100%;
    position: relative;
    align-items: baseline;
 
}

.instagram,
.facebook,
.whatsapp {
    height: 100%;
    padding: 0px 1rem;
}

.bolsa_bolsa {
    height: 120%;
    padding: 0px 1rem;
}

.barra_menu {
    /*background-image: url("/images/barra_central.png");*/
    background-color: rgb(163, 31, 53);
    display: flex;
    margin: 10px auto;
    justify-content: center;
    
 }
 
 .ul_header {
    padding: 0px;
    
    flex-grow: 1;
    text-align: center;
}

div div nav ul {
    padding-inline-start: 0px;
}
 
 .barra_menu ul li {
     display: inline-block;
     text-transform: uppercase;
     font-size: 12px;
     padding: 5px;
     font-weight: bold;
     
     
    }
    
.barra_menu ul li a{
    text-decoration: none;
    color: white; 
}
    



.usuario_bolsa {
    color: white;
    text-align: center;
    padding: 0px;
    margin: auto 20px auto 0px;

    
}

/* MAIN BOLSA DE COMPRAS---------------------------------------------------------------------*/

.main_bc {
    display: flex;
    flex-wrap: wrap; /*ocupa el ancho del contenedor*/
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    background-color: #FFF5CE;
    width: 90%;
    
}

.h3_bolsa_de_compras {
    background-color: #FDE3B3;
    padding: 2rem;
    width: 100%;
    max-width: 1280px;
    color: rgb(163, 31, 53);
    font-size: 1.7rem;
    font-weight: bolder;
    margin-bottom: 10px;
    
    
}

.contenido_bolsa {
    display: flex;
    flex-wrap: wrap;
    background-color: #FDE3B3;
    padding: 20px 20px;
    
    justify-content: space-around;
    
    width: 100%;
    max-width: 1280px;
    color: rgb(163, 31, 53);
    font-size: 1.1rem;
    
   
}
.titulos_detalle_bc {
    display: inline;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;    
    margin-left: auto;
    margin-right: auto;
}

.titulos_detalle_bc label {padding: 0 20px;}

.detalle_bolsa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid rgb(163, 31, 53);
}

.foto_producto_bolsa {
    width: 100%;
    max-width: 100px;
}

.descripción_compra {
    text-align: left;
    margin-left: 0px;
    padding: 1px;
    font-size: 80%;
}


main div section article input {
    margin: 0;
    width: 40px;
    height: 40px;
    border: 0;
    text-decoration: 0;
    outline: none;
    overflow: hidden;
    text-transform: none;
    text-align: center;
    background-color: rgb(163, 31, 53) ;
    color: white;
    font-size: 22px;
    justify-items: center;
    font-family: 'paris bold', 'paris';
    font-weight: bolder;
}


main div section article {
    display: flex;
    margin: 10px 0px;
}

.botones_bolsa {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
        height: 26%;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin: 10px;
}

.botones_mas_menos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
}

.restar_producto_bolsa {
    border-radius: 15px 0 0 15px;
    width: 33%;
    max-width: 40px;
}

.cantidad_producto_bolsa {
    width: 33%;
    max-width: 40px;
}

.sumar_producto_bolsa {
    border-radius: 0px 15px 15px 0px;
    width: 33%;
    max-width: 40px;
}

.eliminar_producto_bolsa {
    margin-left: 10px;
    border-radius: 15px;
    width: 40%;
    max-width: 120px;
}



/* FOOTER BOLSA*/


.back_footer {
    background-image: url("/images/img_footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.texto_footer {
    padding: 1px;
    text-align: center;
    color: white;
    font-size: 15px;
    
}

article h4, 
article h3 {
    text-transform: uppercase;
    font-weight: bolder;
    text-overflow: clip;
    
}

footer section article h3,
footer section article h4 {
    margin: 0px;
}

footer section article p {
    margin: 0px 0px 20px 0px;
}



/* ESTILOS REGISTER * -------------------------------------------------*/
.cajaLogin {
    padding: 0px 20px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.ingreso {
    width: 100%;
    border-style: none;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
}

#botonReseteo {
    width: 100%;
    border-style: none;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    color: white;
    background-color: #AA0044;
}

#botonReseteo:hover {
    background-color: #CC1155;
    cursor: pointer;
}

#botonIngreso {
    width: 100%;
    border-style: none;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    color: white;
    background-color: #0044AA;
    cursor: pointer;
}

#botonIngreso:hover {
    background-color: #0022AA;
}



/* MEDIA QUIERIES * -------------------------------------------------*/

@media (min-width: 360px) {.marcaSP {width: 75%;}}

@media (min-width: 426px) {
    .marcaSP {width: 40%;}
    .encabezado {width: 60%;}
}

@media (min-width: 769px) {
    .marcaSP {
        width: 30%;
        max-width: 300px;
        margin-left: 40px;
    }
    .header {
        justify-content: flex-start;
        align-items: center;
    }
    .encabezado {
        justify-content: flex-start;
        align-self: flex-end;
    }  
    
}


