* {box-sizing: border-box;}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF5CE;
    margin: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    background-image: url("/images/fondo_header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 28vh;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.loginBody {background-color: white;}

#noExiste {
    height: 280px;
    position: relative;
    left: 25%;
    margin-left: -55px;
} 

/* HEADER */

.encabezado {
    padding: 5px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    position: relative;
}

.inicio { /* no sé si está en uso VERIFICAR*/
    position: absolute;
    top: 210px;
    z-index: 0;
}

/* .marcaSP {
    position: relative;
    top: 24px;
    left: 15px;
    width: 315px;
    margin-bottom: 25px;
} */

/* .instagram {
    position: relative;
    top: 3px;
    left: 10px;
    width: 3vw;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 5px
}

.facebook {
    position: relative;
    top: 3px;
    left: 10px;
    width: 47px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 5px
}

.whatsapp {
    position: relative;
    top: 3px;
    left: 10px;
    width: 3vw;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 5px
}

.bolsa {
    position: relative;
    top: 3px;
    left: 10px;
    width: 3vw;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 5px
} */

/* MAIN */


.menu {
   position: absolute;
   height: 20px;
   background-color: blanchedalmond ;
   color: white;
}

.banner {
    background-image: url("/images/img_ppal.jpg");
    background-repeat: no-repeat;
    overflow: auto;

    background-size: 100%;
    width: 100%;
}

.banner p {
    color: white;
    text-align: right;
    font-size: larger;
    padding-right: 10%;
    position: relative;
    flex-direction: column;
}

main {background-color: blanchedalmond;}

ul {
    list-style-type: none;
    padding: 5px 5px;
    text-align: center;
}
.barra_menu_ppal {
    background-image: url("/images/barra_central.png");
    background-size: 99% 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position-x: 5px;
    float: left;
    z-index: 3;
    position: relative;
    top: -10vh;
 }

.boton {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

.botoz {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.cajaOculta {
    flex-direction: row;
    display: inline-block;
}

.caja {
    box-sizing: border-box;
    width: 70%;
    border: 1px hidden currentColor;
    padding: 20px 0px 10px 0px;
    margin: 60px;
    text-align: center;
    background-color: rgb(253, 227, 179);
    color: rgb(163, 31, 53);
    font-size: 20px;
    position: relative;
    left: 25%;
    margin-left: -30px;
    max-width: 500px;
}

.cajaflex {
    display: flex;
}

/* cree la caja login en con la misma base de las otras cajas, veo que más le modifico para que me quede bien */
.cajaLogin {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    border: 1px hidden currentColor;
    padding: 20px 0px 10px 0px;
    margin: 60px;
    text-align: center;
    background-color: rgb(253, 227, 179);
    color: rgb(163, 31, 53);
    font-size: 20px;
    position: relative;
    margin-left: -30px;
    border-style: solid;
}


#email {
    block-size: 1cm;
    align-self: flex-end;
}

#password {
    block-size: 1cm;
    margin-block-end: auto
}

.Login {text-align: left;}

.fotosPedido {
    background-size: contain;
    position: relative;
    background-position: center;
    height: 30%;
    width: 80%;
}

.agregarPedido {
    background-size: contain;
    position: relative;
    background-position: center;
    width: 60%;
}

.titulos {
    background-color: blanchedalmond;
    max-width: 100%;
    font-size: xx-large;
}

.tituloPromo {
    background-color: blanchedalmond;
    max-width: 100%;
    /* font-size: ; */
    color: rgb(163, 31, 53);
    font-weight: bold;
}

.promo20 {
    font-family: sans-serif;
    color: rgb(163, 31, 53);
    font-weight: bold;
    font-size: 26px
}


/* FOOTER */



/* ESTILOS PARA BOLSA DE COMPRAS --------------------------------------------------*/


/* HEADER BOLSA--------------------------------------------------------------*/


.marcaSP {
    position: relative;
    width: 85vw;
    max-width: 90%;
    top: 1rem;
    
}

.barra_redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2rem;
    width: 100%;
    position: relative;
    align-items: baseline;
 
}

header a {
    height: 100%;
}

.instagram,
.facebook,
.whatsapp {
    height: 100%;
    margin: 0px 1rem;

}

.instagram {
    border-radius: 20%;
}

.facebook {
    border-radius: 10%;
}

.whatsapp {
    border-radius: 50% 50% 50% 0%;
}

header img:hover {
    -webkit-box-shadow: 0px 0px 15px 3px rgba(200,200,200,1);
    -moz-box-shadow: 0px 0px 15px 3px rgba(200,200,200,1);
    box-shadow: 0px 0px 15px 3px rgba(200,200,200,1);
}


.bolsa_bolsa {
    height: 120%;
    padding: 0px 1rem;
}

.barra_menu {
    /*background-image: url("/images/barra_central.png");*/
    background-color: rgb(163, 31, 53);
    display: flex;
    margin: 10px auto;
    justify-content: center;
    
 }
 
 .ul_header {
    padding: 0px;
    flex-grow: 1;
    text-align: center;
}

div div nav ul {
    padding-inline-start: 0px;
}
 
 .barra_menu ul li {
     display: inline-block;
     text-transform: uppercase;
     font-size: 12px;
     padding: 5px;
     font-weight: bold;
}
    
.barra_menu ul li a{
    text-decoration: none;
    color: white; 
}
    

.usuario_bolsa {
    color: white;
    text-align: center;
    padding: 0px;
    margin: auto 20px auto 0px;    
}

/* MAIN BOLSA DE COMPRAS---------------------------------------------------------------------*/

.main_bc {
    display: flex;
    flex-wrap: wrap; /*ocupa el ancho del contenedor*/
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    background-color: #FFF5CE;
    width: 90%;
}

.h3_bolsa_de_compras {
    background-color: #FDE3B3;
    padding: 2rem;
    width: 100%;
    max-width: 1280px;
    color: rgb(163, 31, 53);
    font-size: 1.7rem;
    font-weight: bolder;
    margin-bottom: 8px;
    margin-top: 8px;    
}

.contenido_bolsa {
    display: flex;
    flex-wrap: wrap;
    background-color: #FDE3B3;
    padding: 20px 20px;
    justify-content: space-around;
    width: 100%;
    max-width: 1280px;
    color: rgb(163, 31, 53);
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.titulos_detalle_bc {
    display: inline-flex;
    flex-direction: row;
    font-size: 1.1rem;
    justify-content: space-between;
    margin-bottom: 10px;    
    margin-left: 10px;
    margin-right: 10px;
    
    width: 100%;
}


.titulo_producto {
    padding-left: 0.5rem;
}

.titulo_cantidad {
    padding-right: 1.1rem;
}

.detalle_bolsa {
    align-items: center;
    border-top: 2px solid rgb(163, 31, 53);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

}

.foto_producto_bolsa {
    width: 33%;
    padding-top: 5px;
    padding-left: 10px;
    min-width: 100px;
    max-width: 100px;
}

.descripción_compra {
    text-align: left;
    padding: 1px;
    padding-left: 1.3rem;
    font-size: 80%;
    width: 33%;
    min-width: 120px;
}


main div section article input {
    margin: 0;
    width: 40px;
    height: 40px;
    border: 0;
    
    overflow: hidden;
    text-transform: none;
    text-align: center;
    background-color: rgb(163, 31, 53) ;
    color: white;
    font-size: 1rem;
    justify-items: center;
    font-weight: bolder;
}



.botones_bolsa {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1rem;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 33%;
    min-width: 15rem;
}

.botones_mas_menos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
}

.restar_producto_bolsa {
    border-radius: 15px 0 0 15px;
    width: 33%;
    max-width: 40px;
}

.cantidad_producto_bolsa {
    width: 33%;
    max-width: 40px;
}

.sumar_producto_bolsa {
    border-radius: 0px 15px 15px 0px;
    width: 33%;
    max-width: 40px;
}

.eliminar_producto_bolsa {
    margin-left: 20px;
    border-radius: 15px;
    width: 40%;
    max-width: 120px;
}



/* FOOTER BOLSA*/


.back_footer {
    background-image: url("/images/img_footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.texto_footer {
    padding: 1px;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    
}

article h4, 
article h3 {
    text-transform: uppercase;
    font-weight: bolder;
    text-overflow: clip;
    
}

footer section article h3,
footer section article h4 {
    margin: 0px;
}

footer section article p {
    margin: 0px 0px 20px 0px;
}



/* ESTILOS REGISTER * -------------------------------------------------*/
.cajaLogin {
    padding: 0px 20px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.ingreso {
    width: 100%;
    border-style: none;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
}

#botonReseteo {
    width: 100%;
    border-style: none;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    color: white;
    background-color: #AA0044;
}

#botonReseteo:hover {
    background-color: #CC1155;
    cursor: pointer;
}

#botonIngreso {
    width: 100%;
    border-style: none;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    color: white;
    background-color: #0044AA;
    cursor: pointer;
}

#botonIngreso:hover {
    background-color: #0022AA;
}

.home_carrousel div{
    height: 300px;
    width: auto;
    color: #AA0044;
}


/* MEDIA QUIERIES * -------------------------------------------------*/

@media all and (min-width: 360px) {
    .marcaSP {
        width: 75%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .titulos_detalle_bc {
        justify-content: space-around;

    }
    .titulo_cantidad {padding-left: 1.4rem;}
    .detalle_bolsa {
        justify-content: space-around;
    }
    .botones_bolsa {
        width: 100%;
        flex-direction: row;
        min-width: 7rem;
        padding: 0px;
        margin: 0px;
        justify-content: space-around;
        
    }
    .botones_mas_menos {
        padding-left: 0px;
        margin-left: 0px;
        width: 100%;
        max-width: 110px;
        padding: 5px 0;
    }
    .eliminar_producto_bolsa {
        padding-left: 0px;
        margin-left: 0px;
        padding: 5px 0;
        width: 100%;
        max-width: 110px;
    }
    .cajaflex {
        align-self: center;
    }
}

@media all and (min-width: 426px) {
    .marcaSP {
        width: 80%;
        max-width: 330px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .encabezado {width: 60%;}
    .titulos_detalle_bc {
        justify-content: space-around;
    }
    .titulo_cantidad {padding-left: 1.4rem;}
    .cajaflex {
        align-self: center;
    }
}

@media all and (min-width: 470px) {
    .titulos_detalle_bc {
        justify-content: space-between;
        width: 100%;
        padding: 0px;
    }
    .titulo_cantidad {padding-left: 0px;}
    .detalle_bolsa {
        justify-content: space-around;
    }
    .descripción_compra {
        padding-left: 1rem;
    }
    .botones_bolsa {
        width: 33%;
        justify-content: space-around;
    }
    .titulo_producto,
    .titulo_cantidad {
        width: 30%;
        padding: 0px;
    }
    .titulo_producto {
        width: 38%;
        padding-left: 1.1rem;
        text-align: left;
    }
    .cajaflex {
        align-self: center;
    }
}

@media all and (min-width: 760px) {
    .cajaflex {
        flex-direction: row;
        display: inline-block;
    }
    .botoz {
        display:none;
    }
 }

@media all and (min-width: 769px) {
    .marcaSP {
        width: 45%;
        max-width: 350px;
        margin-left: 30px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .header {
        justify-content: flex-start;
        
        align-items: center;
    }
    .barra_redes {
        width: 100%;
        justify-content: flex-end;
        
    }
    
    .titulo_producto,
    .titulo_cantidad {
        width: 38%;
        
    }
    .titulo_producto {
        width: 38%;
        padding-left: 1.7rem;
        text-align: left;
    }
    .botones_bolsa {
        padding: 1rem;
    }
    .cajaflex {
        flex-direction: row;
        display: inline-block;
        justify-content: space-between;
    }
}

@media all and (orientation: landscape) {
    .marcaSP {
        width: 25%;
        max-width: 350px;
        margin-left: 30px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .header {
        justify-content: flex-start;
        align-items: center;
    }

    .barra_redes {
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 20px;
        
    }
    
    .titulo_producto,
    .titulo_cantidad {
        width: 38%;
        
    }
    .titulo_producto {
        width: 38%;
        padding-left: 1.7rem;
        text-align: left;
        
    }
    .botones_bolsa {
        padding: 1rem;
    }
    .cajaflex {
        flex-direction: row;
        display: inline-block;
    }
}

@media all and (orientation: landscape) and (min-height: 320px) {
    .marcaSP {
        width: 25%;
        top: 0px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .barra_redes {
        width: 50%;
        justify-content: flex-end;
        margin-bottom: 20px;
        
    }
    .header {
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media (max-width: 760px) {
    .cajaOculta {
        display:none;
    }
}