<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header');%> 
    <main>
        <div>
            <br>
            <div>
                <h1>
                  <a href="/"><img class="cajaLogin" src="/images/errors/404gif.gif" alt="404"></a>
                </h1>
                <h2 class="letraError">LA PASTA QUE INTENTA DESCUBRIR NO EXISTE ... AUN</h2>
            </div>    
        </div>
    </main><br>
    <%- include('../partials/footer') %> 
</body>
</html>