<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header');%> 
    <main>

      


      <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- estos serian los indicadores -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- las fotos en si -->
          <div class="carousel-inner">
      
            <div class="item active">
              <a href="/products"><img src="/images/carousel/caru1.jpg" alt="carousel1" style="width:100%;"></a>
              <!-- por si la foto no tiene texto y hay que escribirle algo
              <div class="carousel-caption">
                <h3>Titulo</h3>
                <p>escrito de abajo</p>
              </div> -->
            </div>
      
            <div class="item">
              <a href="https://www.facebook.com/Seis-Pimientas-Casa-de-Pastas-115735999808276"><img src="/images/carousel/caru2.jpg" alt="carousel2" style="width:100%;"></a>
            </div>
          
            <div class="item">
              <a href="/sales"><img src="/images/carousel/caru3.jpg" alt="carousel3" style="width:100%;"></a>
            </div>
          </div>
      
          <!-- estos son los controles y botones abajo -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Siguiente</span>
          </a>
        </div>
      </div>

      <div  class="bannerHome">
        <img style='width: 85%; margin-left: 7%;' src="/images/home/bannerHome.jpg" alt="banner Home">
      </div>


      
    </main><br>
    <%- include('../partials/footer') %> 
</body>
</html>