
.bgcat { 
    background-color:rgb(163, 31, 53);
}
.color-pp {
    background-color:rgb(163, 31, 53);
    background-image: linear-gradient(180deg,rgb(163, 31, 53) 10%,rgb(95, 17, 30) 100%);

}

.color-nav-bar {
    
    background-color: rgb(253, 227, 179);

}

.color-back-pp {
    background-color: blanchedalmond; 
}

.title-sp {
    color: rgb(163, 31, 53);
}
